.project-buttons {
  display: flex;
  gap: 1rem;
}

.project-buttons a button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.project-buttons button {
  padding: 0.3rem 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  color: #000;
}